html, body {
	margin: 0;
	height: 100%;
}

body {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-color: #28a745;
	width: 100%
	
}

.img {
	
	background-image: url("pic2.jpg");

}
.overlay:before{
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: block;
  z-index:0;
  background-color: rgba(118, 92, 86, 0.67);

}

header {
	overflow: hidden;
}

image{
	opacity: 0.5;
    filter: alpha (opacity= 50);
}

body {
	
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #fff;
	border-color: #28a745;

}

/*opacity: 0.5;
    filter: alpha (opacity= 50);
*/

header {
	overflow: hidden;
}


.main-nav{
	position: relative;
	float: right;
	list-style: none;
	margin-top: 30px;
}

.main-nav li {
	
	display: inline-block;
}

.main-nav li a {

	color: #e6e6e6;
	text-decoration: none;
	padding: 5px 20px;
	font-family: 'strong', 'sans-serif';
	font-size:'15px';
	cursor: pointer;
	border-style: 1px;
	border-color: white;

}

.navbar-brand{
	position: relative;
	float: left;
	margin-top: 30px;
	list-style: none;
}

.navbar-brand li {
	margin-left: 100%px;
	font-size: 23px;
	display: inline-block;
}

.navbar-brand li a {
	color: #e6e6e6;
	text-decoration: none;
	padding: 10px 20px;
	font-family: 'strong', 'serif;'
	font-size:'15px' ;
	cursor: pointer;
}

.row{
	max-width: 1200px;
	margin: auto;
	width: 100%;

}

.hero h3{
	position: relative;
	text-align: center;
	margin: auto; 
	color: #e6e6e6;
	text-transform: uppercase;
	font-size: 30px;
	margin-top: 150px;
	margin-bottom: 1px;
	font-family: "Merriweather Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	border-style:1px;
	border-color: white;
}

h3{

	font-weight: "bold";
	width: 60%;
	}

.template{
	margin-bottom:1px;
	margin-right: auto;
	position: relative;
	color:#e6e6e6 ;
	width: 50% ;
	text-align: center!important;
	margin-top: 40px;
	margin-left:auto;
	font-size:;
	font-family: "Merriweather","-apple-system","BlinkMacSystemFont","Segoe UI","Roboto","Helvetica Neue","Arial","Noto Sans","sans-serif","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	line-height: 1.5;


} 
h1{
	text-align: center!important;
	font-size:1.15rem
	}

hr.divider{
	position: relative;
	max-width: 3.25rem;
    border-width: .2rem;
    border-color: #ff4000;
}
.my-4{
	margin-bottom: 1%;
	margin-top: 1%;
}
hr{
	margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.3);
}
.btn{
	position: relative;
	color: white;
	text-decoration: none;
    padding-top: 1.25rem;
    padding-right: 2.25rem;
    padding-bottom: 1.25rem;
    padding-left: 2.25rem;
	font-size: 14px;
	cursor: pointer;
	border: 13px;
	background-color: #f4623a;
	border-radius: 40px;
	text-transform: uppercase;
	font-weight:600;
	font-family: "Merriweather Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";


}
.btn div, button {
	margin-top: 20px;


}